log_level = "debug"
tmp_path = "/tmp"
target_path = "/tmp"
time_zone = "Europe/Moscow"

[remote]
remote_ssh_host = "127.0.0.1"
remote_ssh_user = "root"
remote_ssh_port = 2
remote_ssh_password = "password"
remote_ssh_private_key = "/home/user/.ssh/id_rsa"
remote_path = "/backup"

[mongodb]
mongodb_uri = ""
mongodb_prefix = "mongodb"
mongodb_host = "127.0.0.1"
mongodb_port = 27017
mongodb_user = "app"
mongodb_password = "password"
mongodb_database = "database"
mongodb_auth_mechanism = "SCRAM-SHA-256"
mongodb_dump_bin = "/usr/bin/mongodump"

[mysqldb]
mysqldb_prefix = "mysqldb"
mysqldb_host = "127.0.0.1"
mysqldb_port = 3306
mysqldb_user = "root"
mysqldb_password = "password"
mysqldb_database = "app"
mysqldb_dump_bin = "/usr/bin/mysqldump"
mysqldb_options = "--opt"
mysqldb_excludes = "information_schema,performance_schema"

[files]
files_path = "<BACKUP_PATH>"
files_prefix = "backup"
files_exclude_path = "<path>/runtime,<path>/.git,<path>/.idea,<path>/log"

[clickhouse]
clickhouse_uri = "tcp://127.0.0.1:9000"
clickhouse_databases = "app"
clickhouse_prefix = "clickhouse"
clickhouse_lib_path = "/var/lib/clickhouse/"